* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --p-Pale-blue: hsl(225, 100%, 94%);
  --p-Dark-blue: hsl(245, 75%, 52%);
  --n-Pale-blue: hsl(225, 100%, 98%);
  --n-Desaturated-blue: hsl(224, 23%, 55%);
  --n-Dark-blue: hsl(223, 47%, 23%);
}



html,
body {
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: var(--p-Pale-blue);
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.summaryContainer {
  width: 450px;
  background-color: #fff;
  border-radius: 1rem;
  color: var(--n-Dark-blue);
  text-align: center;
  margin-bottom: 1rem;

  
}
.summaryTitle {
  padding: 2rem 0 1rem 0;
  font-weight: 900;
}

.summaryDescription {
  color: var(--n-Desaturated-blue);
  padding-bottom: 1rem;
  font-size: 16px;
}
.heroimage {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.planContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--n-Pale-blue);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.plan {
  display: flex;
}
.planinfo {
  padding-left: 1rem;
  text-align: center;
}
.btn {
  font-size: 1rem;
  outline: none;
  border: none;
  background: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.change {
  color: var(--p-Dark-blue);
}
.proceedbtn {
  background-color: var(--p-Dark-blue);
  color: #fff;
}
.cancelbtn {
  margin-bottom: 1rem;
  color: var(--n-Desaturated-blue);
}

/* <style> */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
/* </style>
